/* Soluzione qui */

@media all and (min-width: 768px){
  #topbar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container{
    padding: 20px;
  }

  .recipe-origin{
    display: inline;
  }

    .recipe-category {
    justify-self: start;
  }

    .recipe-name {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 37px;
  }

  
}
