/* Soluzione qui */

@media all and (min-width: 768px){
  #topbar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .container{
    padding: 20px;
  }

  .recipe-origin{
    display: inline;
  }

    .recipe-category {
    justify-self: start;
  }

    .recipe-name {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 35px;
  }

  .quick-notes ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .btn{
    padding:10px 40px;
    width: 50%;
  }

  .ads{
    display: inline;
  }

  .ads img{
    margin: 30px 0px;
  }

.clearfix img{
    float: left;
}

.btn-orange{
    padding: 10px 15px;
}
}
